.post {
  /*width: auto;*/
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.post_header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-between;
}

.user_info {
  display: flex;
  margin-left: 10px;
  flex: 1;
  align-items: center;
}

.avatar {
  width: 40px;
  height: 40px;
  background-color: orange;
  border-radius: 50%;
  margin-right: 10px;
  flex-shrink: 0;
}

.username {
  font-weight: bold;
  font-size: 16px;
  color: #333;
}

.date {
  font-size: 13px;
  color: gray;
}

.report {
  color: gray;
  font-size: 14px;
  cursor: pointer;
}

.post_text {
  padding: 15px;
}

.post_image {
  background-color: #ccc;
  height: 150px;
  border-radius: 8px;
}

.post_image img {
  width: 100%;
  border-radius: 20px;
  border: 2px solid gray;
}

.post_actions {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  color: gray;
}

.text_orange {
  color: orange;
}
