@import "tailwindcss";
@import "@fortawesome/fontawesome-free/css/all.min.css";

:root {
  --pastel-light-green: #90D26D;
}

body {
  background: white;
  position: relative;
}

/*.posts {
  width: auto;
}*/